
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.container{
  background-color:  rgb(32, 35, 41);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-family: 'Source Code Pro';
} 
.Cards a{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(23, 22, 22);
  margin-left: 30px;
  transform: scale(0.9);
  border-radius: 30px;
}
.Inner{
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 90%;
  background-color:  rgb(32, 35, 41);
}
.Plane{
  columns: 2;
}
 
.Status{
  position: relative;
  top: -10px;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  left: 30px;
}
.Gender{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}
.Alive{
  color: greenyellow;
  position: relative;
}
.Dead{
  color: red;
}
.Status p{
  font-size: 15px;
  font-weight: 600;

}

.Location{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: silver;
  font-size: 15px;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}
.Location P{
  color: white;
}

 /* for small devices  */
@media (max-width: 600px) {
 .Plane{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  height: auto;

}
.Cards{
  margin-left: 1px;
}
.container{
  margin-bottom: 10px;

}
}
